/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

 .wp-block-spc-btn-spacial-button {
	--gridDisplay:none;
	--left:0;
	--top:0;
 }
 
 .wp-block-spc-btn-inner-container{
	pointer-events: all;
 }