/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-spc-btn-spacial-button {
	position: relative;
	--left:100%;
	--top:100%;
	--innerHeight:0;
	--innerWidth:0;
	--gridDisplay:block;
	--borderColor:black;
	--borderWidth:2px;
	overflow: hidden;
}

.wp-block-spc-btn-spacial-button::after,
.wp-block-spc-btn-spacial-button::before{
	display: var(--gridDisplay);
	border-color: var(--borderColor);
	border-style: solid;
	border-width: var(--borderWidth);
	box-sizing: content-box;
}

.wp-block-spc-btn-spacial-button::before{
	content:'';
	height:var(--innerHeight);
	width: 100%;
	position: absolute;
	top: var(--top);
	transform:translateY(-50%);
	left: calc(var(--borderWidth) *-1);
}

.wp-block-spc-btn-spacial-button::after{
	content:'';
	height:100%;
	width: var(--innerWidth);
	position: absolute;
	top: calc(var(--borderWidth) *-1);
	transform:translateX(-50%);
	left: var(--left);
}

.wp-block-spc-btn-inner-container{
	position: absolute;
	top:0px;
	left: 0px;
	transform: translate(
		calc(var(--left) - 50%),
		calc(var(--top) - 50%)
		);
	pointer-events: none;
}


